.total-info {
  display: flex;
  background-color: mintcream;
}
.players-info {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  border-right: 1px solid black;
}
.team-info {
  margin-left: 40px;
  padding: 5px;
  border: 1px solid black;
  width: 400px;
}
